{% extends "admin/base.html.twig" %}

{% block content %}
<h1 class="page-header">{{ channel.name }}</h1>

<a href="{{ path_for('admin_listing_new', {'slug': channel.slug }) }}"> Шинэ хөтөлбөр оруулах</a>
<div class="table-responsive">
    {% include "admin/Listing/list.html.twig" %}
</div>

<nav>
  Нийт холбоосын тоо: <span class="badge">{{ listings|length }}</span>
</nav>
{% endblock %}
